@import url("https://fonts.googleapis.com/css?family=Roboto");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Roboto";
}

body {
  background: white;
}

.bg-blue {
  background: #022cff;
}

.navbar {
  display: flex;
  width: 100%;
  padding: 1em 1.2em;
  color: white;
}


.flex{
  display: flex;
  justify-content: space-between;
}

.left{
  background: black;
  height: 100%;
}

.right{
 background: white;
 height: 100%;
}

.container{
  width: 1100px;
  margin: auto;
  overflow: hidden;
  padding: 4em;
}

.pad{
  border-radius: 15px;
  padding: .6em;
  border: 1px solid gray;
  margin: 2em;
}

.searchBtn{
  padding: .6em;
  border-radius: 15px;
  border: 1px solid gray;
  width: 100px;
}

/*Search CSS*/
.cityWeather p{
padding: 1em;
}

.btn{
  margin-top: 1em;
  background: red;
  border: none;
  width: 100px;
  padding: .6em;
  border-radius: 15px;
  cursor: pointer;
  margin: 1em;
  display: block;
  height: 18%;
  text-align: center;
}

.cityWeather{
  border: 1px solid black;
}

.sun{
  width: 50px;
  height: 50px;
}

.alert{
  width: 1100px;
  margin: auto;
  overflow: hidden;
  padding: 4em;
  background: silver;
}

.navbar{
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

.flex{
  display: flex;
}



li{
  list-style-type: none;
}

.page{
  padding: 0 2em;
}

.navbar a{
  text-decoration: none;
  color: white;
}

/*About page*/

.block{
display: block;
}