@import url("https://fonts.googleapis.com/css?family=Roboto");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Roboto";
}

body {
  background: white;
}

.bg-blue {
  background: #022cff;
}

.navbar {
  display: flex;
  width: 100%;
  padding: 1em 1.2em;
  color: white;
}


.flex{
  display: flex;
}

.left{
  background: black;
  height: 100%;
}

.right{
 background: white;
 height: 100%;
}

/*Search CSS*/
